#crew_name {

    font-family: arial;
    background-color: rgb(114, 194, 194);
    width: 300px;

}

#crew_bio_button {
    color: black;
    font-family: Arial;
    background-color: rgb(162, 229, 246);
}

#members_button {
    color: black;
    font-family: Arial;
    background-color: rgb(162, 229, 246);
}

#achievements_button {
    color: black;
    font-family: Arial;
    background-color: rgb(162, 229, 246);
}

#media_button {
    color: black;
    font-family: Arial;
    background-color: rgb(162, 229, 246);

}

#member_list {
    font-size: 30px;
    font-family: arial;
}

li:hover {

    cursor: pointer;
    font-size: 40px;
    background-color: rgb(75, 171, 171);

}


#done_box {
    font-family: arial;
    font-size: 30px;
    background-color: rgb(202, 145, 83);
    height: 40px;
    width: 105px;
}

#done_box:hover {
    cursor: pointer;
    background-color: rgb(175, 118, 56);
    height: 50px;
    width: 115px;
    font-size: 33px;
}



